<%= render "header" %>

<% if logged_in? %>
<p><strong>User Actions</strong></p>
<ul>
    <li><%= link_to "Write New Article", new_article_path %></li>
</ul>
<% end %>

<p><strong>Articles</strong></p>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <span><%= link_to "#{article.title}" , article %></span>
        <span><%= "(by #{User.find_by_id(article.user_id).username})" %></span>
        <span><small><%= "[#{article.created_at}]" %></small></span>
      </li>
    <% end %>
  <% end %>
</ul>
