<%= render "header" %>

<%= render partial: "article_title", locals: {article: @article} %>


<div style="padding: 4px; padding-bottom: 20px;">
<span><%= @article.body %></span>
</div>

<div style="padding: 4px; padding-bottom: 20px;">
    <span style="font-size: 18px; font-weight: bold;">Comments</span>
</div>

<%= render @article.comments %>

<% if logged_in? %>
    <div style="padding: 4px; padding-bottom: 20px; padding-top: 20px;">
        <span style="font-size: 18px; font-weight: bold;">Add a comment:</span>
    <%= render 'comments/form' %>
    </div>
<% end %>
